@(url: String, questionnaires: Seq[HomeViewQuestionnaire])(implicit request: RequestHeader)

        @import helper._
@import database.PersistanceAdapter
    @import play.api.Play.current
    @import play.api.i18n.Messages.Implicits._

    @main("Home") {

        <div style="margin-left: 6%">
            <h2>Home</h2>

            @form(routes.Home.createNewQuestionnaire()) {
                <input class="btn btn-info" type="submit" value="New questionnaires">
                }
        </div>

            <div id="table-container" style="width: 90%">

                <table id="all-q-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th>Link</th>
                            <th>Statistics</th>
                            <th>Preview</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="all-q-body">
                    @for(q <- questionnaires) {
                        <tr>
                            <td>
                            @q.name
                            </td>
                            <td>
                            @q.description
                            </td>
                            <td>
                            @form(routes.Home.switch(q.userId, q.questId)) {
                                @if(q.qOwner.getActive) {
                                    <button disabled type="submit" class="btn btn-primary btn-success disabled">Enable</button>
                                    <button type="submit" class="btn btn-primary btn-danger active">Disable</button>
                                } else {
                                    <button type="submit" class="btn btn-primary btn-success active">Enable</button>
                                    <button disabled type="submit" class="btn btn-primary btn-danger disabled">Disable</button>
                                }
                            }

                            </td>

                            <td>
                                <span>
                                    <button class="btn btn-info" type="button" data-toggle="modal" data-target='@{"#link" + q.questId + q.hash}'>Link</button>
                                </span>
                                    <!-- Modal -->
                                <div id='@{"link" + q.questId + q.hash}' class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Questionnaire Link</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>@{url + "/new/" + q.userId + "/" + q.questId + "/" + q.hash}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>

                            <td>
                                <span>
                                    <button class="btn btn-info" type="button" data-toggle="modal" data-target='@{"#download" + q.questId + q.hash}'>Download</button>
                                </span>
                                    <!-- Modal -->
                                <div id='@{"download" + q.questId + q.hash}' class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Choose file format?</h4>
                                            </div>
                                            <div class="modal-body">
                                            @form(routes.FileDownload.downloadDocx(q.userId, q.questId)) {
                                                <input class="btn btn-info" type="submit" value="docx">
                                                }
                                                <br>
                                                @form(routes.FileDownload.downloadXlsx(q.userId, q.questId)) {
                                                    <input class="btn btn-success" type="submit" value="xlsx">
                                                    }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </td>

                            <td>

                                    <span>
                                    @if(q.description.length == 0) {
                                        @form(routes.Preview.index(q.name, " ")) {
                                            <input class="btn btn-info" type="submit" value="View Questionnaire">
                                        }
                                    } else {
                                        @form(routes.Preview.index(q.name, q.description)) {
                                            <input class="btn btn-info" type="submit" value="View Questionnaire">
                                        }
                                    }
                                    </span>

                            </td>

                            <td>
                                <div class="btn-group">
                                    @* <input class="btn btn-success" type="button" id="show" value="Edit"> *@
                                    <!--
                                <input class="btn btn-danger" type="submit" id="show" value="Delete">
-->
                                <span>
                                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target='@{"#delete" + q.questId + q.hash}'>Delete</button>
                                </span>
                                    <!-- Modal -->
                                <div id='@{"delete" + q.questId + q.hash}' class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Are you sure you want to delete this questionnaire?</h4>
                                            </div>
                                            <div class="modal-body">
                                            @form(routes.Home.delete(q.userId, q.questId)) {
                                                <input class="btn btn-danger" type="submit" id="show" value="Delete">
                                            }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                </div>
                            </td>
                        </tr>


                    }
                    </tbody>
                </table>
        </div>

    }