@(types: Seq[QuestionType], questionsForm: Form[Questions])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("New Questionnaire") {

    <h2>@questionsForm.fold(errors => "error", data => data.questions.size)</h2>

    <h2>New Questionnaire</h2>
    @form(routes.NewQuestionnaire.addQuestion()) {

    <table>
        <tr>
            <td>
                <select name="country">
                @for(country <- types) {
                    <option value="@country.text">@country.text</option>

                }
                </select>
            </td>
            <td>
                <input type="submit" value="Add question">
            </td>
        </tr>
    </table>
    <br>
  @*  @form(routes.NewQuestionnaire.printQ()) {*@
        @repeat(questionsForm("questions"), min = 0) { question =>
            <div>
                <table>
                    <tr>
                        <td>
                            Question Name
                        </td>
                        <td>
                            @inputText(
                                question("body"),
                                '_label -> null
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Question Description
                        </td>
                        <td>
                        @inputText(question("description"),  '_label -> null)
                        </td>
                    </tr>
                </table>
                ______________________________________________________________
            </div>
        }
        <br>
        @*<input type="submit" value="Print">}*@
    }




}