@(registerForm: Form[(String, String, String)])(implicit request: RequestHeader)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Registration") {
    <div class="login-container">
        <h2>Registration</h2>
        @form(routes.Registration.register()) {
            @registerForm.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            @request.flash.get("bad").map { message =>
                <p class="bad">
                    @message
                </p>
            }

            @inputText(registerForm("email"),
                '_label -> "Email",
                'id -> "inputdefault",
                'class -> "form-control",
                'type -> "text",
                '_showConstraints -> false)

            @inputText(registerForm("pass"),
                '_label -> "Password",
                'id -> "inputdefault",
                'class -> "form-control",
                'type -> "password",
                '_showConstraints -> false)

            @inputText(registerForm("repass"),
                '_label -> "Repeat password",
                'id -> "inputdefault",
                'class -> "form-control",
                'type -> "password",
                '_showConstraints -> false)

            <input class="btn btn-success" type="submit" value="Submit">
        }
    </div>
}




